body{
    display:flex;
    flex-direction: column;
    background: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 800%;
    animation: gradient 20s ease infinite;
}

    /*Headers*/
h2{
    margin-top:4%;
    font-family: 'Estonia', cursive;
    font-size: 4vmax;
    text-decoration: underline 2px;
}
#resultHeader{
    text-decoration: none;
}
    /*Labels*/
label{
    font-family: 'Courgette', cursive;
    font-size:2vmax;
    padding-left:3%;
}
    /*Input*/
input{
    background: transparent;
    margin-left: 2%;
    border:solid white 0.5vmin;
    border-block-end-color: skyblue;
    border-left-color: skyblue;
    border-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 25vmax;
    height: 4vmax;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size:2vmax;
}
input:hover,:focus{
    background: linear-gradient(to left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 800%;
    animation: gradient 5s ease infinite;
    border:solid black 0.5vmin;
    height:5vmax;
    width: 30vmax;
    border-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size:2.5vmax;
}
input:focus{
    outline:none;

}
    /*Countries displayed*/
.countries{
    display: inline-block;
    background:transparent;
    margin-left:10%;
    padding: 3%;
    border:solid white 1vmin;
    border-block-end-color: skyblue;
    border-left-color: skyblue;
    border-radius: 30px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 25vmax;
    height: 8vmax;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size:1.5vmax;
}
.countries:hover{
    background: linear-gradient(to left, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 800%;
    animation: gradient 5s ease infinite;
    border:solid black 1vmin;
    border-radius: 30px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

    /*Frames for gradient animation*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}






